:root{
    --primary-color:#1d1f1e;
    --dark-color:#504e4e;
    --gray-dark-color:#918c8c;
    --gray-color:#dcdedc;
    --pink-bg-color:#fdefee;
    --red-color:#d82627;
    --white-color:#ffffff;
}